<add-form (addUser) = "optimisticAdd($event)" (addUserPs) = "pessimisticAdd()"></add-form>

<h2>
  List of users:
</h2>
<br>
<button class="btn btn-info" [routerLink] = "['/usersfire']">Fire Base</button>
<br>
<ul class = "list-group">
  <li class = "list-group-item" *ngFor = "let key of usersKeys">
    <button class="btn btn-danger" (click) = "deleteUser(key)">Delete</button>
    <button class="btn btn-info" [routerLink] = "['/update-form', key]">Update</button>
    <a [routerLink] = "['/user', key]">{{'user '+key+' '+users[key].name +" "+ users[key].phone}}</a>
  </li>
</ul>